/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
body {
    background-color: rgba(188, 231, 202, 0.31);
}

.node {
    stroke: black;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

#map{
    top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    width: 85%;
    height: 38em;
    display: inline-block;
}

#clouds{
    position: absolute;
    top: 30%;
}

.graph-div {

}
